.spacer{
    padding-top: 3em;
}

.carousel-slider{
	height: 20em !important
}

.card-image{
	text-align: center;
}
.card-image > img {
	filter: brightness(50%);
	transition: 0.7s ease-in-out;
}
.card-image > img:hover {
	filter: brightness(100%);
	transition: 0.7s ease-in-out;
}